<% user = message.user %>
<% float = user == current_user ? "right" : "left" %>
<div class= "message-row">
  <div class= "message" style="float: <%=  float %>;">
    <div class="message-user">
      <p><%= user.first_name %> <%= user.last_name %></p>
    </div>
    <div class="panel message-body">
      <p><%= message.message %></p>
    </div>
  </div>
</div>
