// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups.new {
  .main-container {
    text-align: center;
  }
}

.groups.show {
  .tasks-list {
  }
}

.groups.search {
  .filter {
    margin-top: 3em;
    text-align: center;
    .name-search, .course-search, .size-search {
      text-align: left;
      display: inline-block;
    }
    .filter-row {
      width: 70%;
      display: inline-block;
      text-align: left;
      .name-search {
        width: 40%;
      }
      .course-search {
        width: 40%;
      }
      .size-search {
        width: 75px;
      }
      .reset-filter {
        text-align: left;
      }
    }
  }
}
